flux.json
[
    {
        "id": "718b93edbd7b4a72",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "528dff4942395a62",
        "type": "inject",
        "z": "718b93edbd7b4a72",
        "name": "Lancement",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "61104f25f9eb5a45",
                "2ce75eeb0fd1013b"
            ]
        ]
    },
    {
        "id": "61104f25f9eb5a45",
        "type": "http request",
        "z": "718b93edbd7b4a72",
        "name": "Requête HTTP",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.17:8080/shot.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 260,
        "wires": [
            [
                "5d0a8f56f2d4209c",
                "f3b81ad65dd6a193"
            ]
        ]
    },
    {
        "id": "5d0a8f56f2d4209c",
        "type": "image",
        "z": "718b93edbd7b4a72",
        "name": "Prévisualisation (Capturée)",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "f3b81ad65dd6a193",
        "type": "file",
        "z": "718b93edbd7b4a72",
        "name": "Écriture image",
        "filename": "C:\\Users\\louis\\Desktop\\test\\a.jpg",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "2ce75eeb0fd1013b"
            ]
        ]
    },
    {
        "id": "2ce75eeb0fd1013b",
        "type": "file in",
        "z": "718b93edbd7b4a72",
        "name": "Lecture image",
        "filename": "C:\\Users\\louis\\Desktop\\test\\a.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 840,
        "y": 180,
        "wires": [
            [
                "b231e46986865101",
                "ea420517bcfa584a"
            ]
        ]
    },
    {
        "id": "8b3fea28ab86749e",
        "type": "function",
        "z": "718b93edbd7b4a72",
        "name": "Traitement données",
        "func": "var payload = msg.payload;\n\nlet nbEleve = 7;\nvar nbElevePres = payload.data.face.length;\nlet scoreAtt = Math.round((nbElevePres / nbEleve) * 100);\nlet scoreGlo = payload.scoreGlo;\nif(scoreGlo == null)\n    scoreGlo = 100;\n\nif (scoreGlo > scoreAtt) {\n    scoreGlo --;\n} else {\n    \nif (scoreGlo < scoreAtt) {\n     scoreGlo ++;\n}\n}\n\nif (scoreGlo > 100) {\n    scoreGlo = 100;\n}\n\nif (scoreGlo < 0) {\n    scoreGlo = 0;\n}\n\nvar payload2 = { payload: scoreGlo };\nreturn payload2;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 300,
        "wires": [
            [
                "5be669137fd986da",
                "9d4358b228b428e4"
            ]
        ]
    },
    {
        "id": "1f8e679491fb0cbd",
        "type": "debug",
        "z": "718b93edbd7b4a72",
        "name": "Debug Modèle",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 340,
        "wires": []
    },
    {
        "id": "b231e46986865101",
        "type": "image",
        "z": "718b93edbd7b4a72",
        "name": "Prévisualisation (Importée)",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1100,
        "y": 80,
        "wires": []
    },
    {
        "id": "ea420517bcfa584a",
        "type": "good-face-detection",
        "z": "718b93edbd7b4a72",
        "name": "",
        "returnValue": "0",
        "threshold": "0.15",
        "absolutePathDir": "C:\\Users\\louis\\Desktop\\test\\results",
        "x": 1080,
        "y": 300,
        "wires": [
            [
                "1f8e679491fb0cbd",
                "775749da151977b8"
            ]
        ]
    },
    {
        "id": "5be669137fd986da",
        "type": "debug",
        "z": "718b93edbd7b4a72",
        "name": "Debug Fonction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 340,
        "wires": []
    },
    {
        "id": "4a62703e46684939",
        "type": "ui_gauge",
        "z": "718b93edbd7b4a72",
        "name": "",
        "group": "683bbe08891a413e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Concentration en temps réel",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2080,
        "y": 280,
        "wires": []
    },
    {
        "id": "9d4358b228b428e4",
        "type": "change",
        "z": "718b93edbd7b4a72",
        "name": "Stockage scoreGlo",
        "rules": [
            {
                "t": "set",
                "p": "scoreGlo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1790,
        "y": 200,
        "wires": [
            [
                "4a62703e46684939",
                "02acc1917aa841a6"
            ]
        ]
    },
    {
        "id": "775749da151977b8",
        "type": "change",
        "z": "718b93edbd7b4a72",
        "name": "Récupération scoreGlo",
        "rules": [
            {
                "t": "set",
                "p": "payload.scoreGlo",
                "pt": "msg",
                "to": "scoreGlo",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 200,
        "wires": [
            [
                "8b3fea28ab86749e"
            ]
        ]
    },
    {
        "id": "346172f1b5a6d24a",
        "type": "inject",
        "z": "718b93edbd7b4a72",
        "name": "Reset",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 40,
        "wires": [
            [
                "5dc15099486c26f7"
            ]
        ]
    },
    {
        "id": "5dc15099486c26f7",
        "type": "change",
        "z": "718b93edbd7b4a72",
        "name": "Réinitialisation",
        "rules": [
            {
                "t": "set",
                "p": "scoreGlo",
                "pt": "flow",
                "to": "100",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 40,
        "wires": [
            [
                "02acc1917aa841a6"
            ]
        ]
    },
    {
        "id": "02acc1917aa841a6",
        "type": "ui_chart",
        "z": "718b93edbd7b4a72",
        "name": "",
        "group": "683bbe08891a413e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Évolution de la concentration",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2080,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "683bbe08891a413e",
        "type": "ui_group",
        "name": "M2CNS",
        "tab": "5b8c33a330bbde50",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5b8c33a330bbde50",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]