Node-RED/flux.json
[
    {
        "id": "9de49adbc3957ca8",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1217e486eba666b1",
        "type": "inject",
        "z": "9de49adbc3957ca8",
        "name": "Lancement",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "8799de387fdd65f4"
            ]
        ]
    },
    {
        "id": "8799de387fdd65f4",
        "type": "http request",
        "z": "9de49adbc3957ca8",
        "name": "Requête HTTP",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.17:8080/shot.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "5bd4db580d175a98",
                "0b487a2ca3cb8f1e"
            ]
        ]
    },
    {
        "id": "5bd4db580d175a98",
        "type": "file",
        "z": "9de49adbc3957ca8",
        "name": "Écriture image",
        "filename": "C:\\Users\\kelde\\Desktop\\test\\a.jpg",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 620,
        "y": 180,
        "wires": [
            [
                "1e28c50e02f5e5f7"
            ]
        ]
    },
    {
        "id": "1e28c50e02f5e5f7",
        "type": "file in",
        "z": "9de49adbc3957ca8",
        "name": "Lecture image",
        "filename": "C:\\Users\\kelde\\Desktop\\test\\a.jpg",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 840,
        "y": 180,
        "wires": [
            [
                "7a6cbf7ab60b5444",
                "299fc82c39bedb51"
            ]
        ]
    },
    {
        "id": "84e4502bbd3da304",
        "type": "function",
        "z": "9de49adbc3957ca8",
        "name": "Traitement données",
        "func": "var payload = msg.payload;\n\nlet nbEleve = 7;\nvar nbElevePres = payload.data.face.length;\nlet scoreAtt = Math.round((nbElevePres / nbEleve) * 100);\nlet scoreGlo = payload.scoreGlo;\nif(scoreGlo == null)\n    scoreGlo = 100;\n\nif (scoreGlo > scoreAtt) {\n    scoreGlo --;\n} else {\n    \nif (scoreGlo < scoreAtt) {\n     scoreGlo ++;\n}\n}\n\nif (scoreGlo > 100) {\n    scoreGlo = 100;\n}\n\nif (scoreGlo < 0) {\n    scoreGlo = 0;\n}\n\nvar payload2 = { payload: scoreGlo };\nreturn payload2;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 260,
        "wires": [
            [
                "0858c2a22871dd50",
                "89b3d20101af6e64"
            ]
        ]
    },
    {
        "id": "eaf2032f064b6630",
        "type": "debug",
        "z": "9de49adbc3957ca8",
        "name": "Debug Modèle",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 300,
        "wires": []
    },
    {
        "id": "0858c2a22871dd50",
        "type": "debug",
        "z": "9de49adbc3957ca8",
        "name": "Debug Fonction",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 320,
        "wires": []
    },
    {
        "id": "89b3d20101af6e64",
        "type": "change",
        "z": "9de49adbc3957ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scoreGlo",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 200,
        "wires": [
            [
                "b9a050fb14b4452b",
                "e4ce5e5530c07e49"
            ]
        ]
    },
    {
        "id": "acf435a3bb0c83cd",
        "type": "change",
        "z": "9de49adbc3957ca8",
        "name": "Changement Val Score",
        "rules": [
            {
                "t": "set",
                "p": "payload.scoreGlo",
                "pt": "msg",
                "to": "scoreGlo",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 220,
        "wires": [
            [
                "84e4502bbd3da304"
            ]
        ]
    },
    {
        "id": "8c236ca8e49094dc",
        "type": "inject",
        "z": "9de49adbc3957ca8",
        "name": "Reset",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "5e17124f180f0933"
            ]
        ]
    },
    {
        "id": "5e17124f180f0933",
        "type": "change",
        "z": "9de49adbc3957ca8",
        "name": "Remplacement Val",
        "rules": [
            {
                "t": "set",
                "p": "scoreGlo",
                "pt": "flow",
                "to": "100",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 80,
        "wires": [
            [
                "e4ce5e5530c07e49"
            ]
        ]
    },
    {
        "id": "b9a050fb14b4452b",
        "type": "ui_gauge",
        "z": "9de49adbc3957ca8",
        "name": "",
        "group": "ca86142d2f81fd3f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Concentration en temps réel",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2080,
        "y": 280,
        "wires": []
    },
    {
        "id": "e4ce5e5530c07e49",
        "type": "ui_chart",
        "z": "9de49adbc3957ca8",
        "name": "",
        "group": "ca86142d2f81fd3f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Évolution de la concentration",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2080,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7a6cbf7ab60b5444",
        "type": "image",
        "z": "9de49adbc3957ca8",
        "name": "Prévisualisation (Importée)",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1100,
        "y": 140,
        "wires": []
    },
    {
        "id": "0b487a2ca3cb8f1e",
        "type": "image",
        "z": "9de49adbc3957ca8",
        "name": "Prévisualisation (Capturée)",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "299fc82c39bedb51",
        "type": "good-face-detection",
        "z": "9de49adbc3957ca8",
        "name": "",
        "returnValue": "2",
        "threshold": "0.15",
        "absolutePathDir": "C:\\Users\\kelde\\Desktop\\test",
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "eaf2032f064b6630",
                "acf435a3bb0c83cd"
            ]
        ]
    },
    {
        "id": "ca86142d2f81fd3f",
        "type": "ui_group",
        "name": "M2CNS",
        "tab": "40abd5d614d06a6a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "40abd5d614d06a6a",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
